.env

metal/default.metallib

metal/MetalAdder/*.x
metal/MetalAdder/benchmark*
metal/MetalAdder/default.metallib

metal/MetalMatrixMultiplier/*.x
metal/MetalMatrixMultiplier/custom_benchmark*
metal/MetalMatrixMultiplier/default.metallib

__pycache__/
**/__pycache__/

.vscode
temp*
*.ipynb

generated_kernel*
prompt_history*